# Semana 03
Mg. Flor Elizabeth Cerdán León

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

2. Variables

In [2]:
# Siempre deben iniciar con una letra o un guión abajo. 
# (Nunca con un número u otro símbolo)

In [4]:
edad = 20

In [5]:
edad

20

In [6]:
nombre = "Flor"

In [7]:
nombre

'Flor'

In [8]:
apellido = "Cerdan Leon"

In [9]:
apellido

'Cerdan Leon'

In [10]:
nombrecompleto = nombre + apellido

In [11]:
nombrecompleto

'FlorCerdan Leon'

In [12]:
nombrecompleto = nombre + " " + apellido

In [13]:
nombrecompleto

'Flor Cerdan Leon'

In [14]:
# Para saber el tipo de variable utilizamos la función type()
# Por ejemplo:

In [15]:
numero = 50
type(numero)

int

In [16]:
type(nombre)

str

In [17]:
talla = 1.70
talla

1.7

In [18]:
type(talla)

float

In [19]:
# Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [20]:
type(cadena)

str

In [21]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [22]:
type(numero2)

int

In [23]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [24]:
type(numero2)

float