# Semana 03
Mg. Flor Elizazbeth Cerdán León

Temas:

1. Números,
2. Variables,
3. Manejo de Cadenas,
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [3]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [16]:
numero1 = 18
numero2 = 7
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
potencia = numero1 ** numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(potencia)
print(residuo)
print(cociente)

25
11
126
2.5714285714285716
612220032
4
2

In [17]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [18]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [19]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [20]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [21]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [22]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [23]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [24]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [25]:
numero1 < numero2

True

In [26]:
# El not invierte el resultado
not(numero1<numero2)

False

In [27]:
numero1<numero2 and numero3<numero4

True

In [28]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [29]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [30]:
# Miremos un ejemplo:

aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [31]:
# ¿Diego está en aula?
alumno1 in aula

False

In [32]:
# ¿Juan está en aula?
alumno2 in aula

True

In [33]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [34]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [35]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [36]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a 
# compartir el mismo objeto que aula1
aula3 = aula1

In [37]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [38]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [39]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [40]:
aula1.append("Diego")

In [41]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [42]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [43]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']